<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <fa-icon [icon]="faFont.faHome" class="h3"></fa-icon>
    </ion-tab-button>

    <ion-tab-button tab="liste">
      <fa-icon [icon]="faFont.faListAlt" class="h3"></fa-icon>
    </ion-tab-button>

    <ion-tab-button tab="peremption">
      <fa-icon [icon]="faFont.faCalendarAlt" class="h3"></fa-icon>
    </ion-tab-button>

    <ion-tab-button tab="stock">
      <fa-icon [icon]="faFont.faBox" class="h3"></fa-icon>
    </ion-tab-button>

    <ion-tab-button tab="parametres">
      <fa-icon [icon]="faFont.faCog" class="h3"></fa-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
