<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-bottom">
  <div class="d-flex justify-content-between mt-2">
    <div>
      <h1 class="text-white"><fa-icon [icon]="faFont.faClipboardList" class="me-2"></fa-icon>{{listeName}}</h1>
    </div>
    <div>
      <button class="btn btn-outline-success border-0"><fa-icon [icon]="faFont.faPlus"></fa-icon></button>
      <button class="btn btn-outline-info border-0"><fa-icon [icon]="faFont.faEdit"></fa-icon></button>
      <button class="btn btn-outline-danger border-0" (click)="deleteList()"><fa-icon [icon]="faFont.faTrashAlt"></fa-icon></button>
    </div>
  </div>
</ion-content>
<!--<div bsModal #changeNameList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-liste">-->
<!--  <div class="modal-dialog modal-dialog-centered">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title mt-0">Créer une liste</h5>-->
<!--        <button type="button" (click)="changeNameList.hide()"><fa-icon [icon]="faFont.faTimes"></fa-icon></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form (ngSubmit)="changeListName(f)" #f="ngForm">-->
<!--          <div class="mb-3">-->
<!--            <label for="listeName" class="form-label">Nom de la liste</label>-->
<!--            <input type="text" class="form-control" id="listeName" aria-describedby="nomListe" name="listeName" ngModel required>-->
<!--          </div>-->
<!--          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Valider</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
