// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* color */
$white:    #fff;
$gray-50: #eceff1;
$gray-100: #cfd8dc;
$gray-200: #b0bec5;
$gray-300: #90A4AE;
$gray-400: #78909c;
$gray-500: #607d8b;
$gray-600: #546e7a;
$gray-700: #455a64;
$gray-800: #37474f;
$gray-900: #263238;
$black:    #000;

$blue-50: #e1f5fe;
$blue-100: #b3e5fc;
$blue-200: #81d4fa;
$blue-300: #4fc3f7;
$blue-400: #29b6f6;
$blue-500: #03a9f4;
$blue-600: #039be5;
$blue-700: #0288d1;
$blue-800: #0277bd;
$blue-900: #01579b;

$indigo-50: #e8eaf6;
$indigo-100: #c5cae9;
$indigo-200: #9fa8da;
$indigo-300: #7986cb;
$indigo-400: #5c6bc0;
$indigo-500: #3f51b5;
$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #283593;
$indigo-900: #1a237e;

$purple-50: #EDE7F6;
$purple-100: #D1C4E9;
$purple-200: #B39DDB;
$purple-300: #9575CD;
$purple-400: #7e57c2;
$purple-500: #673ab7;
$purple-600: #5e35b1;
$purple-700: #512DA8;
$purple-800: #4527A0;
$purple-900: #311B92;

$pink-50: #FCE4EC;
$pink-100: #F8BBD0;
$pink-200: #F48FB1;
$pink-300: #F06292;
$pink-400: #EC407A;
$pink-500: #E91E63;
$pink-600: #D81B60;
$pink-700: #C2185B;
$pink-800: #AD1457;
$pink-900: #880E4F;

$red-50: #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #B71C1C;

$orange-50: #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #E65100;

$yellow-50: #FFFDE7;
$yellow-100: #FFF9C4;
$yellow-200: #FFF59D;
$yellow-300: #FFF176;
$yellow-400: #FFEE58;
$yellow-500: #ffeb3b;
$yellow-600: #fdd835;
$yellow-700: #fbc02d;
$yellow-800: #F9A825;
$yellow-900: #F57F17;

$green-50: #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66bb6a;
$green-500: #4caf50;
$green-600: #43a047;
$green-700: #388E3C;
$green-800: #2E7D32;
$green-900: #1B5E20;

$teal-50: #E0F2F1;
$teal-100: #B2DFDB;
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;
$teal-800: #00695C;
$teal-900: #004D40;

$cyan-50: #E0F7FA;
$cyan-100: #B2EBF2;
$cyan-200: #80DEEA;
$cyan-300: #4DD0E1;
$cyan-400: #26C6DA;
$cyan-500: #00BCD4;
$cyan-600: #00ACC1;
$cyan-700: #0097A7;
$cyan-800: #00838F;
$cyan-900: #006064;

$blue:    $blue-500;
$indigo:  $indigo-500;
$purple:  $purple-500;
$pink:    $pink-500;
$red:     $red-700;
$orange:  $orange-600;
$yellow:  $yellow-600;
$green:   $green-500;
$teal:    $teal-400;
$cyan:    $cyan-600;

$light:   $gray-50;

@import "~bootstrap/scss/bootstrap";

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'DM Sans';


  /** primary **/
  --ion-color-primary: #03A9F4;
  --ion-color-primary-rgb: 3, 169, 244;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #039BE5;
  --ion-color-primary-tint: #29B6F6;

  --ion-color-secondary: #3F51B5;
  --ion-color-secondary-rgb: 63, 81, 181;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3949AB;
  --ion-color-secondary-tint: #5C6BC0;

  --ion-color-tertiary: #673ab7;
  --ion-color-tertiary-rgb: 103, 58, 183;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5E35B1;
  --ion-color-tertiary-tint: #7E57C2;

  --ion-color-success: #4CAF50;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #43A047;
  --ion-color-success-tint: #66BB6A;

  --ion-color-warning: #FDD835;
  --ion-color-warning-rgb: 253, 216, 53;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #FBC02D;
  --ion-color-warning-tint: #FFEB3B;

  --ion-color-danger: #D32F2F;
  --ion-color-danger-rgb: 211, 47, 47;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #C62828;
  --ion-color-danger-tint: #E53935;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

//@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body.dark {
    --ion-color-primary: #4fc3f7;
    --ion-color-primary-rgb: 3, 169, 244;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #29b6f6;
    --ion-color-primary-tint: #81d4fa;

    /** secondary **/
    --ion-color-secondary: #7986cb;
    --ion-color-secondary-rgb: 63, 81, 181;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #5c6bc0;
    --ion-color-secondary-tint: #9fa8da;

    /** tertiary **/
    --ion-color-tertiary: #9575CD;
    --ion-color-tertiary-rgb: 103, 58, 183;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #7e57c2;
    --ion-color-tertiary-tint: #B39DDB;

    /** success **/
    --ion-color-success: #81C784;
    --ion-color-success-rgb: 76, 175, 80;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #66bb6a;
    --ion-color-success-tint: #A5D6A7;

    /** warning **/
    --ion-color-warning: #FFF176;
    --ion-color-warning-rgb: 253, 216, 53;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #FFEE58;
    --ion-color-warning-tint: #FFF59D;

    /** danger **/
    --ion-color-danger: #E57373;
    --ion-color-danger-rgb: 211, 47, 47;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #EF5350;
    --ion-color-danger-tint: #EF9A9A;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

body.dark .form-control, body.dark .modal-header{
  background-color: var(--ion-color-light-tint) !important;
  color: var(--ion-color-light-contrast) !important;
}
body.dark .form-control:disabled, body.dark .form-control[readonly]{
  opacity: 0.5;
}

body.dark .panel-heading, body.dark .modal-body{
  background-color: var(--ion-color-light) !important;
  color: var(--ion-color-light-contrast) !important;
}
body.dark .panel-collapse{
  background-color: var(--ion-color-light-tint) !important;
}
body.dark .modal-body{
  background-color: var(--ion-color-light-shade) !important;
  color: var(--ion-color-light-contrast) !important;
}

body.dark .joursBtns label input ~ .checkmark{
  background-color: var(--ion-item-background) !important;
  color: var(--white) !important;
}

body.dark .joursBtns label input:checked ~ .checkmark, .jourSelect{
  background-color: var(--white) !important;
  color: var(--ion-item-background) !important;
}

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
//}
