<ion-content [fullscreen]="true" class="ion-padding">
  <h3>Mode sombre <fa-icon *ngIf="!darkmode.darkmode" [icon]="faFont.faSun"></fa-icon><fa-icon *ngIf="darkmode.darkmode" [icon]="faFont.faMoon"></fa-icon></h3>
  <div class="custom-control custom-switch mb-4">
    <input type="checkbox" class="custom-control-input" id="toggneDark" (change)="darkmode.toggle()" [checked]="darkmode.darkmode">
    <label class="custom-control-label" for="toggneDark"><span *ngIf="!darkmode.darkmode">Activer le mode sombre</span><span *ngIf="darkmode.darkmode">Désactiver le mode sombre</span></label>
  </div>
</ion-content>
