<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-padding-bottom">
    <div>
        <h1 class="text-white">Listes</h1>
    </div>
    <div class="mt-4">
        <a class="btn btn-primary d-block mb-3">Liste de courses</a>
        <a class="btn btn-warning d-block">Produits favoris</a>
    </div>
    <div class="mt-5">
        <div class="d-flex ion-justify-content-between align-items-center mb-4">
            <h3 class="m-0">Listes personnalisées</h3>
            <span class="text-primary h1 rounded-circle m-0" (click)="CreateListModal.show()"><fa-icon [icon]="faFont.faPlusCircle"></fa-icon></span>
        </div>
        <div class="list-group list-group-flush">
            <a *ngFor="let liste of productListService.getCustomLists(); let id = index" [routerLink]="['custom/'+id]" class="list-group-item list-group-item-action">{{liste.nom}}</a>
        </div>
    </div>
</ion-content>
<div bsModal #CreateListModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-liste">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Créer une liste</h5>
                <button type="button" (click)="CreateListModal.hide()"><fa-icon [icon]="faFont.faTimes"></fa-icon></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createList(f)" #f="ngForm">
                    <div class="mb-3">
                        <label for="listName" class="form-label">Nom de la liste</label>
                        <input type="text" class="form-control" id="listName" aria-describedby="nomListe" name="nomListe" ngModel required>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Valider</button>
                    <app-alert></app-alert>
                </form>
            </div>
        </div>
    </div>
</div>
