<ion-header [translucent]="true">
  <ion-toolbar>
    <h3 class="d-flex justify-content-between px-3">
      <span>Foodlime</span>
      <a class="btn btn-outline-primary"><fa-icon [icon]="faFont.faShoppingCart"></fa-icon></a>
    </h3>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
</ion-content>
